In [1]:
import pandas as pd

In [3]:
df = pd.read_csv("MLTollsStackOverflow.csv")

In [4]:
df.head(3)

,month,nltk,spacy,stanford-nlp,python,r,numpy,scipy,matlab,machine-learning,...,Plato,Sympy,Flair,stanford-nlp.1,pyqt,Nolearn,Lasagne,OCR,Apache-spark-mlib,azure-virtual-machine
0,09-Jan,0,0,0,631,8,6,2,19,8,...,0,1,0,0,5,0,0,5,0,0
1,09-Feb,1,0,0,633,9,7,3,27,4,...,0,0,0,0,5,0,0,11,0,0
2,09-Mar,0,0,0,766,4,4,2,24,3,...,0,0,0,0,7,0,0,2,0,0

In [20]:
df.columns

Index(['month', 'nltk', 'spacy', 'stanford-nlp', 'python', 'r', 'numpy',
       'scipy', 'matlab', 'machine-learning', 'pandas', 'pytorch', 'keras',
       'nlp', 'apache-spark', 'hadoop', 'pyspark', 'python-3.x', 'tensorflow',
       'deep-learning', 'neural-network', 'lstm', 'time-series', 'pillow',
       'rasa', 'opencv', 'pipenv', 'seaborn', 'Dask', 'jupyter', 'AllenNLP',
       'Theano', 'plotly', 'scikit-learn', 'BeautifulSoup', 'scrapy', 'Gensim',
       'FastText', 'Pydot', 'Pybrain', 'Pytil', 'Pygame', 'Colab', 'Shogun',
       'KNIME', 'Apache', 'Gunicorn', 'Pygtk', 'Weka', 'Conda', 'Ray',
       'matlab.1', 'accord.net', 'regression', 'classification', 'correlation',
       'cluster-analysis', 'H2o', 'Mallet', 'Numba', 'Tableau', 'Trifacta',
       'PyArrow', 'Rasterio', 'Orange3', 'PyMC3', 'Opennn', 'Oryx', 'Istio',
       'Venes', 'Plotnine', 'Gluon', 'Plato', 'Sympy', 'Flair',
       'stanford-nlp.1', 'pyqt', 'Nolearn', 'Lasagne', 'OCR',
       'Apache-spark-mlib', 'azure-virtual-machine'],
      dtype='object')

In [ ]:
#Python, matlab, r, hadoop

In [58]:
df2 = df[['month','python','hadoop','r', 'matlab']]

In [59]:
df2.isna().any()

month     False
python    False
hadoop    False
r         False
matlab    False
dtype: bool

In [60]:
df2.head(2)

    month  python  hadoop  r  matlab
0  09-Jan     631       1  8      19
1  09-Feb     633       1  9      27

In [65]:
def refine_date(date):
    print("****")
    print(date)

In [70]:
df2['month'].apply(refine_date)

****
09-Jan
****
09-Feb
****
09-Mar
****
09-Apr
****
09-May
****
09-Jun
****
09-Jul
****
09-Aug
****
09-Sep
****
09-Oct
****
09-Nov
****
09-Dec
****
10-Jan
****
10-Feb
****
10-Mar
****
10-Apr
****
10-May
****
10-Jun
****
10-Jul
****
10-Aug
****
10-Sep
****
10-Oct
****
10-Nov
****
10-Dec
****
11-Jan
****
11-Feb
****
11-Mar
****
11-Apr
****
11-May
****
11-Jun
****
11-Jul
****
11-Aug
****
11-Sep
****
11-Oct
****
11-Nov
****
11-Dec
****
12-Jan
****
12-Feb
****
12-Mar
****
12-Apr
****
12-May
****
12-Jun
****
12-Jul
****
12-Aug
****
12-Sep
****
12-Oct
****
12-Nov
****
12-Dec
****
13-Jan
****
13-Feb
****
13-Mar
****
13-Apr
****
13-May
****
13-Jun
****
13-Jul
****
13-Aug
****
13-Sep
****
13-Oct
****
13-Nov
****
13-Dec
****
14-Jan
****
14-Feb
****
14-Mar
****
14-Apr
****
14-May
****
14-Jun
****
14-Jul
****
14-Aug
****
14-Sep
****
14-Oct
****
14-Nov
****
14-Dec
****
15-Jan
****
15-Feb
****
15-Mar
****
15-Apr
****
15-May
****
15-Jun
****
15-Jul
****
15-Aug
****
15-Sep
****
15-Oct
****
15-Nov
****
15-Dec
****
16-Jan
****
16-Feb
****
16-Mar
****
16-Apr
****
16-May
****
16-Jun
****
16-Jul
****
16-Aug
****
16-Sep
****
16-Oct
****
16-Nov
****
16-Dec
****
17-Jan
****
17-Feb
****
17-Mar
****
17-Apr
****
17-May
****
17-Jun
****
17-Jul
****
17-Aug
****
17-Sep
****
17-Oct
****
17-Nov
****
17-Dec
****
18-Jan
****
18-Feb
****
18-Mar
****
18-Apr
****
18-May
****
18-Jun
****
18-Jul
****
18-Aug
****
18-Sep
****
18-Oct
****
18-Nov
****
18-Dec
****
19-Jan
****
19-Feb
****
19-Mar
****
19-Apr
****
19-May
****
19-Jun
****
19-Jul
****
19-Aug
****
19-Sep
****
19-Oct
****
19-Nov
****
19-Dec

0      None
1      None
2      None
3      None
4      None
       ...
127    None
128    None
129    None
130    None
131    None
Name: month, Length: 132, dtype: object